@use '../settings/variables' as _variables;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.banner {
  @include _responsive.container;
}

.banner__picture {
  position: relative;
  display: block;
  background-color: var(--color-fade);
}

.banner__picture--home {
  padding-top: 60%;

  @include _responsive.min(m) {
    padding-top: 31.25%;
  }
}

.banner__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.banner__container {
  padding-top: (_variables.$core-grid * 3);
  text-align: center;

  @include _responsive.min(m) {
    padding-top: (_variables.$core-grid * 4);
    padding-bottom: (_variables.$core-grid * 1.5);
  }
}

.banner__title {
  @include _typography.text(mars);
  text-align: center;
  text-transform: uppercase;

  @include _responsive.min(m) {
    margin-bottom: (_variables.$core-grid * 2);
  }
}

.banner__body {
  max-width: 890px;
  margin: 0 auto;
}
