@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.featured {
  @include _responsive.container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: (_variables.$core-grid * 3);
  margin-bottom: (_variables.$core-grid * 3);

  @include _responsive.min(m) {
    margin-top: (_variables.$core-grid * 5);
    margin-bottom: (_variables.$core-grid * 5);
  }

  @include _responsive.min(l) {
    margin-top: (_variables.$core-grid * 7);
    margin-bottom: (_variables.$core-grid * 7);
  }
}

.featured__title {
  @include _typography.text(lg);
  margin-bottom: (_variables.$core-grid * 1.75);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;

  @include _responsive.min(m) {
    margin-bottom: (_variables.$core-grid * 3);
  }
}

.featured__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1.75em;
  width: 100%;
  margin-bottom: (_variables.$core-grid * 2);

  @include _responsive.min(m) {
    margin-bottom: (_variables.$core-grid * 3);
  }

  @include _responsive.min(l) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.featured__product {
  position: relative;
}

.featured__picture {
  display: block;
  position: relative;
  padding-top: 100%;
  background-color: var(--color-fade);
  overflow: hidden;
}

.featured__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  transform: translateZ(0);

  @media (hover) {
    transition: transform 0.5s ease-in-out;

    .featured__product:hover &,
    .products__product:hover & {
      transform: scale(1.1);
    }
  }
}

.featured__link {
  @include _typography.text(xs);
  display: block;
  margin-top: (_variables.$core-grid / 2);
  margin-bottom: (_variables.$core-grid / 2);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  color: var(--color-body);
  letter-spacing: 1px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include _responsive.min(m) {
    margin-top: _variables.$core-grid;
  }
}

.featured__price {
  @include _typography.text(xs);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
}

.featured__cta {
  @include _buttons.button(primary);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
}
