@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.featured {
  @include _responsive.container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: (_variables.$core-grid * 3);
  padding-bottom: (_variables.$core-grid * 3);

  @include _responsive.min(m) {
    padding-top: (_variables.$core-grid * 4);
    padding-bottom: (_variables.$core-grid * 4);
  }
}

.featured__title {
  @include _typography.text(mars);
  text-align: center;
  text-transform: uppercase;

  @include _responsive.min(m) {
    margin-bottom: (_variables.$core-grid * 3);
  }
}

.featured__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1.75em;
  width: 100%;
  margin-bottom: (_variables.$core-grid * 2);
}

.featured__product {
  position: relative;
}

.featured__picture {
  display: block;
  position: relative;
  padding-top: 100%;
  background-color: var(--color-fade);
}

.featured__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.featured__link {
  display: block;
  margin-top: (_variables.$core-grid / 2);
  margin-bottom: (_variables.$core-grid / 2);
  font-size: 0.9em;
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  color: var(--color-body);
  line-height: 1.3;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include _responsive.min(m) {
    margin-top: _variables.$core-grid;
    font-size: 1em;
  }
}

.featured__cta {
  @include _buttons.button(primary);
}
