@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/picture' as _picture;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;


.feature-block {
  @include _responsive.container;
  display: flex;
  flex-direction: column;
  margin-top: (_variables.$core-grid * 3);
  margin-bottom: (_variables.$core-grid * 3);

  @include _responsive.max(m) {
    text-align: center;
  }

  @include _responsive.min(s) {
    display: grid;
    grid-column-gap: (_variables.$core-grid * 2);
    grid-template-columns: 1fr 1.1fr;
  }

  @include _responsive.min(m) {
    margin-top: (_variables.$core-grid * 5);
    margin-bottom: (_variables.$core-grid * 5);
  }

  @include _responsive.min(l) {
    margin-top: (_variables.$core-grid * 7);
    margin-bottom: (_variables.$core-grid * 7);
  }
}

.feature-block__picture {
  @include _picture.picture;
  margin-bottom: (_variables.$core-grid * 2);
  padding-top: 100%;

  @include _responsive.min(m) {
    margin-bottom: 0;
  }
}

.feature-block__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.feature-block__content {
  @include _responsive.min(m) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
  }
}

.feature-block__title {
  @include _typography.text(md);
  margin-bottom: (_variables.$core-grid * 2);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  text-transform: uppercase;
  letter-spacing: 3px;

  @include _responsive.min(m) {
    max-width: 450px;
  }
}

.feature-block__body {
  margin-top: 0;
  margin-bottom: (_variables.$core-grid * 2);

  @include _responsive.min(m) {
    max-width: 450px;
  }
}

.feature-block__cta {
  @include _buttons.button(primary);
  display: inline-block;
  align-self: center;

  @include _responsive.min(m) {
    align-self: flex-start;
  }
}
