@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.footer {
  @include _responsive.container;
  padding-top: (_variables.$core-grid * 3);
  padding-bottom: (_variables.$core-grid * 3);
  background-color: var(--color-fade);

  @include _responsive.min(m) {
    padding-top: (_variables.$core-grid * 4);
    padding-bottom: (_variables.$core-grid * 4);
  }

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
}

.footer__container {
  @include _responsive.min(m) {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(3, 1fr) 1.1fr;
  }
}

.footer__list,
.footer__form {
  margin-bottom: (_variables.$core-grid * 3.5);

  @include _responsive.min(m) {
    margin-bottom: 0;
  }
}

.footer__item {
  margin-bottom: (_variables.$core-grid / 2);

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__item--social {
  display: inline-block;
  margin-right: (_variables.$core-grid / 2);
  margin-bottom: 0;
  margin-left: -(_variables.$core-grid / 2);

  &:last-child {
    margin-right: 0;
  }
}

.footer__item--title h3,
.footer__legend {
  @include _typography.text(md);
  margin-bottom: (_variables.$core-grid * 1.5);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__link {
  @include _typography.text(sm);
  position: relative;
  color: var(--color-body);

  @media (hover) {
    &:not(.footer__link--social) {
      display: inline;
      background-image: linear-gradient(var(--color-body), var(--color-body));
      background-size: 0 2px;
      background-position: 0 100%;
      background-repeat: no-repeat;
    }

    &:hover,
    &:focus,
    &:active {
      background-size: 100% 2px;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.footer__link--social {
  display: block;
  width: 40px;
  height: 40px;
  padding: (_variables.$core-grid / 2);
}

.footer__icon {
  width: 100%;
  height: 100%;
}

.footer__label {
  @include _typography.text(sm);
  display: block;
  margin-bottom: (_variables.$core-grid * 2);
}

.footer__input {
  @include _typography.text(sm);
  width: 100%;
  padding: _variables.$core-grid (_variables.$core-grid * 1.5);
}

.footer__submit {
  @include _buttons.button(primary);
  margin-top: (_variables.$core-grid * 1.5);
}

.footer__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-body);
  }

  @include _responsive.min(m) {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  position: relative;
  background-color: var(--color-fade);
  padding-right: _variables.$core-grid;
  padding-left: _variables.$core-grid;

  @include _responsive.min(m) {
    padding-right: 0;
    order: 2;
  }
}

.footer__copyright {
  @include _typography.text(xs);
  position: relative;
  background-color: var(--color-fade);

  @include _responsive.min(m) {
    padding-right: _variables.$core-grid;
    order: 1;
  }
}
