@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/flexbox' as _flexbox;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/transitions' as _transitions;
@use '../tools/mixins/typography' as _typography;

@use 'sass:color';

.form {
  margin-top: (_variables.$core-grid * 3);
}

.form__legend {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__inner {
  @include _responsive.min(m) {
    @include _flexbox.flex(wrap, row, space-between, null);
  }
}

.form__field {
  position: relative;
  margin-bottom: (_variables.$core-grid * 2);

  @include _responsive.min(m) {
    flex-basis: 100%;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      flex-basis: 48%;
    }
  }
}

.form__field--hidden {
  display: none;
}

.form__item {
  margin-bottom: (_variables.$core-grid * 1.5);
}

.form__label {
  display: block;
  color: var( --color-foreground);
  font-family: _variables.$core-font-family;
  font-weight: _variables.$core-font-weight;
  margin-bottom: (_variables.$core-grid / 2);
}

.form__input,
.form__textarea {
  @include _transitions.transition-03(border-color);
  @include _typography.text(sm);
  width: 100%;
  margin-bottom: 0;
  padding-top: (_variables.$core-grid / 1.5);
  padding-right: _variables.$core-grid;
  padding-bottom: (_variables.$core-grid / 1.5);
  padding-left: _variables.$core-grid;
  border-width: 1px;
  border-style: _variables.$core-border-style;
  border-color: var(--color-heading);
  color: var(--color-body);
  outline: none;

  &:focus,
  &:active {
    border-color: var(--color-secondary);
  }

  @media (hover) {
    &:hover {
      border-color: var(--color-secondary);
    }
  }
}

.form__textarea {
  resize: none;
}

.form__input--valid,
.form__textarea--valid {
  border-color: var(--color-success);
}

.form__input--invalid,
.form__textarea--invalid {
  border-color: var(--color-danger);

  &:focus,
  &:active {
    border-color: var(--color-danger);
  }
}

.form__button {
  @include _buttons.button(primary);
}

.form__validation-message {
  @include _transitions.transition-03(opacity);
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  color: var(--color-danger);
  font-family: _variables.$core-font-family;
  opacity: 0;

  @include _responsive.min(l) {
    font-family: _variables.$core-font-family;
    font-weight: _variables.$core-font-weight;
    font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  }

  &--visible {
    opacity: 1;
  }
}

.form__message {
  @include _typography.text(sm);
  display: none;
  margin-top: (_variables.$core-grid * 2);
  margin-bottom: 0;
  padding-top: (_variables.$core-grid / 2);
  padding-right: _variables.$core-grid;
  padding-bottom: (_variables.$core-grid / 2);
  padding-left: _variables.$core-grid;
  color: var(--color-primary);

  &--error {
    background-color: rgba(var(--color-danger), 0.7);
  }

  &--success {
    background-color: rgba(_variables.$core-color-success, 0.7);
  }
}
