@use '../settings/variables' as _variables;
@use '../tools/mixins/responsive' as _responsive;

.logo {
  display: flex;
  align-self: center;

  @include _responsive.min(m) {
    grid-column: 2;
  }
}

.logo__icon {
  width: 180px;
  height: auto;

  image {
    width: calc(100% - 20px);
    transform: translateX(calc(-50% + 10px));
  }

  text {
    fill: var(--color-primary);
    font-size: 75%;
    font-variation-settings: 'wght' 600;
    text-anchor: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  @include _responsive.min(m) {
    width: 200px;

    image {
      width: calc(100% - 10px);
      transform: translateX(calc(-50% + 5px));
    }
  }
}
