@use '../settings/variables' as _variables;

.logo {
  align-self: center;
}

.logo__icon {
  width: calc(210px + 0.8em);

  image {
    width: calc(100% - 10px);
    transform: translateX(calc(-50% + 5px));
  }

  text {
    fill: _variables.$core-color-primary;
    font-size: 0.8em;
    font-variation-settings: 'wght' 550;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateX(calc(-50% + (0.4em - 1px)));
  }
}
