@use '../settings/variables' as _variables;
@use '../tools/functions/z-index' as _z-index;
@use '../tools/mixins/responsive' as _responsive;

.nav {
  @include _responsive.min(m) {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

.nav__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  text-transform: uppercase;

  @include _responsive.min(m) {
    display: none;
  }
}

.nav__button-icon {
  margin-right: (_variables.$core-grid / 2);
  pointer-events: none;

  path:first-child {
    transition: transform 0.5s ease-in-out;
    transform-origin: 5px 11px;
  }

  path:nth-child(2) {
    transition: opacity 0.5s ease-in-out;
  }

  path:last-child {
    transition: transform 0.5s ease-in-out;
    transform-origin: 5px 27px;
  }

  @media (prefers-reduced-motion: reduce) {
    path {
      transition: none;
    }
  }
}

.nav__button[aria-expanded='true'] {
  path:first-child {
    transform: rotate(45deg);
  }

  path:nth-child(2) {
    opacity: 0;
  }

  path:last-child {
    transform: rotate(-45deg);
  }
}

.nav__list {
  @include _responsive.max(m) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: var(--color-secondary);
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }

  @include _responsive.min(m) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav__item {
  position: relative;
  margin-bottom: (_variables.$core-grid / 1.5);

  @include _responsive.max(m) {
    &:last-child {
      margin-bottom: 14px;
    }
  }

  @include _responsive.min(m) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 48em) and (hover: none) and (pointer: coarse) {
    position: static;
  }
}

.nav__item--sub {
  margin-bottom: (_variables.$core-grid / 2);

  @include _responsive.min(m) {
    margin-bottom: (_variables.$core-grid * 1.5);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 48em) and  (hover: none) and (pointer: coarse) {
    margin-right: 1vw;
    margin-bottom: 0;
    margin-left: 1vw;
    text-align: center;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.nav__sub {
  padding-left: _variables.$core-grid;

  @include _responsive.min(m) {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 380px;
    padding: (_variables.$core-grid * 2) (_variables.$core-grid * 2.5);
    background-color: var(--color-background);
    border: 2px solid var(--color-secondary);
    opacity: 0;
    visibility: hidden;

    .nav__link--focus + & {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (hover) {
    .nav__item:hover & {
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (min-width: 48em) and (hover: none) and (pointer: coarse) {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100vw;
    border: 0;
    padding: (_variables.$core-grid / 1.5) (_variables.$core-grid * 2);
    opacity: 1;
    visibility: visible;
  }
}

.nav__link {
  display: block;
  padding-top: (_variables.$core-grid / 2);
  padding-bottom: (_variables.$core-grid / 2);
  color: var(--color-primary);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  text-transform: uppercase;

  @include _responsive.min(m) {
    margin-right: (_variables.$core-grid * 3);
    margin-left: (_variables.$core-grid * 3);
    padding-top: _variables.$core-grid;
    padding-bottom: _variables.$core-grid;
    font-size: 0.85em;
  }

  @media screen and (min-width: 48em) and (hover: none) and (pointer: coarse) {
    position: relative;

    &[data-nav-item='Shop']::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 8px 9px;
      border-color: transparent transparent var(--color-background) transparent;
      transform: translateX(-50%);
    }
  }
}

.nav__link--sub {
  padding-top: (_variables.$core-grid / 3);
  padding-bottom: (_variables.$core-grid / 3);
  text-transform: capitalize;

  @include _responsive.min(m) {
    position: relative;
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--color-body);
    font-size: 0.95em;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-body);
    }
  }

  @media (hover) {
    &::before {
      width: 0;
      transition: width 0.3s ease-in-out;
    }

    &:hover::before,
    &:focus::before,
    &:active::before {
      width: 100%;
    }
  }

  @media screen and (min-width: 48em) and (hover: none) and (pointer: coarse) {
    font-size: 70%;

    &::before {
      height: 1px;
    }
  }
}
