@use '../settings/variables' as _variables;
@use '../tools/mixins/typography' as _typography;

$spacing: _variables.$core-grid;
$background: _variables.$core-color-background;

.notification {
  @include _typography.text(moon);
  padding: $spacing ($spacing * 2);
  background-color: _variables.$core-color-primary;
  color: $background;
  text-align: center;
}

.notification__link {
  color: inherit;
}
