@use '../settings/variables' as _variables;
@use '../tools/functions/z-index' as _z-index;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.notification {
  @include _responsive.container;
  position: relative;
  padding: _variables.$core-grid (_variables.$core-grid * 2);
  background-color: var(--color-primary);
  text-align: center;
  z-index: _z-index.z(delta);
}

.notification__body {
  @include _typography.text(sm);
  color: var(--color-background);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;

  @supports (padding-top: env(safe-area-inset-top)) {
    padding-top: env(safe-area-inset-top);
  }
}
