@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.products {
  @include _responsive.container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: (_variables.$core-grid * 2);
  margin-top: (_variables.$core-grid * 3);
  margin-bottom: (_variables.$core-grid * 3);

  @include _responsive.min(m) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: (_variables.$core-grid * 2.5);
    margin-top: (_variables.$core-grid * 5);
    margin-bottom: (_variables.$core-grid * 5);
  }

  @include _responsive.min(l) {
    margin-top: (_variables.$core-grid * 7);
    margin-bottom: (_variables.$core-grid * 7);
  }
}

.products__product {
  position: relative;
  overflow: hidden;
}
