@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.product {
  @include _responsive.container;
  padding-top: (_variables.$core-grid * 2);

  @include _responsive.min(m) {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: (_variables.$core-grid * 3.5);
    padding-top: (_variables.$core-grid * 3.5);
  }
}

.product__imagery {
  margin-bottom: (_variables.$core-grid * 3);

  @include _responsive.min(m) {
    min-width: 0;
    margin-bottom: 0;
  }
}

.product__picture,
.product__thumbail-picture {
  display: block;
  position: relative;
  padding-top: 100%;
  background-color: var(--color-fade);
  pointer-events: none;
}

.product__image,
.product__thumbail-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.product__carousel {
  position: relative;
  margin-right: (_variables.$core-grid * 2);
  margin-left: (_variables.$core-grid * 2);
  outline: none;

  .glide__arrow {
    top: calc(50% + 9px);
    width: 34px;
    height: 34px;
  }

  .glide__arrow--left {
    left: calc(-5vw - 17px);

    @include _responsive.min(m) {
      left: -34px;
    }
  }

  .glide__arrow--right {
    right: calc(-5vw - 17px);

    @include _responsive.min(m) {
      right: -34px;
    }
  }
}

.product__thumbnails {
  display: flex;
  flex-wrap: nowrap;
  margin-top: (_variables.$core-grid * 1.5);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

.product__thumbnail {
  width: calc(25% - #{_variables.$core-grid * 2});
  max-width: 60px;
  margin-right: _variables.$core-grid;
  flex: 0 0 auto;
  scroll-snap-align: start;

  .glide__track & {
    width: auto;
    max-width: initial;
  }

  @include _responsive.min(m) {
    max-width: 100px;
    margin-right: (_variables.$core-grid * 1.5);
  }
}

.product__thumbnail-link {
  display: block;
  border: 2px solid transparent;
  opacity: 0.65;
  transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &--active {
    border-color: var(--color-primary);
    opacity: 1;
  }

  @media (hover) {
    &:hover {
      border-color: var(--color-primary);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.product__title {
  @include _typography.text(lg);
  margin-bottom: (_variables.$core-grid * 1.5);
  text-transform: uppercase;
}

.product__price {
  @include _typography.text(md);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
}

.product__form {
  margin-top: (_variables.$core-grid * 1.5);
}

.product__field {
  position: relative;
  margin-bottom: (_variables.$core-grid * 2.5);

  &:last-child,
  .pin-colors & {
    margin-bottom: 0;
  }
}

.product__label {
  @include _typography.text(sm);
  display: inline-block;
  margin-top: 0;
  margin-bottom: (_variables.$core-grid / 2);
  color: var(--color-tertiary);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;

  .pin-colors & {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}

.product__select-wrapper {
  position: relative;
}

.product__select,
.product__input,
.product__textarea {
  @include _typography.text(xs);
  display: block;
  width: 100%;
  color: var(--color-heading);
}

.product__select {
  padding-top: (_variables.$core-grid / 1.2) _variables.$core-grid;
  padding-right: (_variables.$core-grid + 24);
  padding-bottom: (_variables.$core-grid / 1.2);
  padding-left: _variables.$core-grid;
}

.product__select-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  fill: currentColor;
  transform: rotate(90deg) translateX(-50%);
  pointer-events: none;
}

.product__input,
.product__textarea {
  padding: (_variables.$core-grid / 1.2) _variables.$core-grid;
}

.product__input--quantity {
  width: 100px;
}

.product__radios {
  margin-bottom: (_variables.$core-grid * 2.5);
}

.product__radio {
  display: inline-flex;
  align-items: center;
  margin-right: _variables.$core-grid;
}

.product__radio-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: (_variables.$core-grid / 2);

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-tertiary);
    visibility: hidden;
  }

  &:checked::before {
    visibility: visible;
  }
}

.product__basket-button {
  @include _buttons.button(primary);

  &[disabled='true'] {
    @include _buttons.button(disabled);
  }
}

.product__personalisation {
  padding: (_variables.$core-grid * 1.8) (_variables.$core-grid * 2);
  border-radius: 4px;
  background-color: var(--color-neutral);
}

.product__personalisation-title {
  @include _typography.text(md);
  position: relative;
  padding-bottom: (_variables.$core-grid * 1.5);
  color: var(--color-tertiary);
  font-variation-settings: 'wght' _variables.$core-tertiary-font-weight;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -(_variables.$core-grid * 2);
    width: calc(100% + #{_variables.$core-grid * 4});
    height: 1px;
    background-color: var(--color-border);
  }
}

.product__body {
  margin-bottom: (_variables.$core-grid * 2);
}

.product__button {
  @include _buttons.button(primary);
}

.product__description {
  margin-top: (_variables.$core-grid * 2);

  @include _responsive.min(m) {
    margin-top: (_variables.$core-grid * 3.5);
  }
}

.product__description--mobile {
  @include _responsive.min(m) {
    display: none;
  }
}

.product__description:not(.product__description--mobile) {
  display: none;

  @include _responsive.min(m) {
    display: block;
  }
}

.product__sub-title {
  @include _typography.text(md);
  font-variation-settings: 'wght' _variables.$core-font-weight;
  text-transform: uppercase;
}
