@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.quotes {
  @include _responsive.container;
  position: relative;
  margin-top: (_variables.$core-grid * 3);
  margin-bottom: (_variables.$core-grid * 3);
  padding-top: (_variables.$core-grid * 3);
  padding-bottom: (_variables.$core-grid * 3);
  background-color: var(--color-fade);
  text-align: center;

  @include _responsive.min(m) {
    margin-top: (_variables.$core-grid * 5);
    margin-bottom: (_variables.$core-grid * 5);
    padding-top: (_variables.$core-grid * 4);
    padding-bottom: (_variables.$core-grid * 4);
  }

  @include _responsive.min(l) {
    margin-top: (_variables.$core-grid * 7);
    margin-bottom: (_variables.$core-grid * 7);
  }
}

.quotes__title {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.quotes__content {
  outline: none;
}

.quotes__slides {
  @include _responsive.min(m) {
    display: grid;
    grid-column-gap: (_variables.$core-grid * 2.5);
    grid-template-columns: repeat(3, 1fr);
  }
}

.quotes__icon {
  width: 24px;
  height: auto;
}

.quotes__quote {
  @include _responsive.min(m) {
    user-select: initial;
  }
}

.quotes__body {
  margin-top: (_variables.$core-grid * 1.25);
  margin-bottom: (_variables.$core-grid * 1.25);
}

.quotes__cite {
  @include _typography.text(xs);
  font-style: normal;
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;

  &::before {
    content: '\2014 \0020';
  }
}

.quotes__bullets {
  @include _responsive.min(m) {
    display: none;
  }
}
