@use '../settings/variables' as _variables;
@use '../tools/mixins/buttons' as _buttons;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.returns {
  @include _responsive.container;
  margin-top: (_variables.$core-grid * 3);
  margin-bottom: (_variables.$core-grid * 3);

  @include _responsive.min(m) {
    margin-top: (_variables.$core-grid * 5);
    margin-bottom: (_variables.$core-grid * 5);
  }

  @include _responsive.min(l) {
    margin-top: (_variables.$core-grid * 7);
    margin-bottom: (_variables.$core-grid * 7);
  }
}

.returns__rule {
  margin-top: (_variables.$core-grid * 3);
  margin-bottom: (_variables.$core-grid * 3);

  @include _responsive.min(m) {
    margin-top: (_variables.$core-grid * 4);
    margin-bottom: (_variables.$core-grid * 4);
  }
}

.returns__title {
  @include _typography.text(md);
  margin-bottom: (_variables.$core-grid * 2);
  font-variation-settings: 'wght' _variables.$core-font-weight;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;

  @include _responsive.min(m) {
    margin-bottom: (_variables.$core-grid * 3);
  }
}
