@use '../settings/variables' as _variables;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/typography' as _typography;

.seo {
  @include _responsive.container;
  margin-top: (_variables.$core-grid * 2);
  margin-bottom: (_variables.$core-grid * 2);
  text-align: center;

  @include _responsive.min(m) {
    margin-top: (_variables.$core-grid * 4);
    margin-bottom: (_variables.$core-grid * 4);
  }
}

.seo__title {
  @include _typography.text(md);
  margin-top: 0;
  margin-bottom: (_variables.$core-grid * 2);
  font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  text-transform: uppercase;
}

.seo__body {
  @include _typography.text(xs);
  max-width: 85ch;
  margin-right: auto;
  margin-bottom: (_variables.$core-grid * 1.5);
  margin-left: auto;

  &:last-child {
    margin-bottom: 0;
  }
}
