{% extends "_layouts/default.njk" %}

{% set heroImage = heroImage %}
{% set heroTitle = heroTitle %}

{% block content %}
    {% include "_partials/components/hero.njk" %}

    <main id="main">
        {{content | safe}}
    </main>
{% endblock %}
