---
post: true
---

{% extends "_layouts/default.njk" %}

{% set heroImage = renderData.heroImage or heroImage %}
{% set heroTitle = title %}

{% block content %}
    <main id="main">
        <article>
            {% include "_partials/components/hero.njk" %}

            <div class="post">
                {{ content | safe }}
            </div>
        </article>
    </main>
{% endblock %}
