{% extends "_layouts/default.njk" %}

{% block content %}
    <main class="product container pt-24 px-16" aria-describedby="product-title" data-component="product-details" data-product-id="{{product.id}}" data-product-color="{{product.color}}" id="main">
        <div class="product__imagery mb-32 md:mb-0">
            {% picture
                product.mainImage,
                '350, 450, 600, 800',
                '(max-width: 37.4375em) 450px, 800px',
                'data-component="product-picture"',
                product.mainImageAlt,
                'ratio-1-1 pe-none'
            %}

            <button type="button" class="bgc-secondary text-foreground fs-xs lh-xs fvs-md py-16 px-24 borr-5 ls-1 dp-f jc-center ai-c w-full tt-uc ol-3-solid-transparent focus:olc-primary hover:bgc-secondary" data-image-zoom>
                Open image zoom
                <svg class="product__zoom-icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/icons/sprite.svg#zoom"></use>
                </svg>
            </button>

            {% include "_partials/components/product-thumbnails.njk" %}
        </div>

        <div class="product__details">
            <h1 class="fs-lg lh-lg fvs-rg ls-3 tt-uc mt-0 text-heading" id="product-title">{{product.title}}</h1>
            <span class="fs-md lh-md fvs-rg text-body" aria-live="polite" data-product-price>{{product.minPrice}}</span>

            {% for tag in product.tags %}
                {% if tag === 'Map Only' %}
                    {% include "_partials/forms/personalised-form.njk" %}
                {% endif %}

                {% if tag === 'Wedding Table Plan' %}
                    {% include "_partials/forms/wedding-table-form.njk" %}
                {% endif %}

                {% if tag === 'Wedding Welcome' %}
                    {% include "_partials/forms/wedding-welcome-form.njk" %}
                {% endif %}

                {% if tag === 'Pins' %}
                    {% include "_partials/forms/pins-form.njk" %}
                {% endif %}

                {% if tag === 'Frame only' %}
                    {% include "_partials/forms/frame-only-form.njk" %}
                {% endif %}

                {% if tag === 'Gift cards' %}
                    {% include "_partials/forms/gift-card-form.njk" %}
                {% endif %}
            {% endfor %}

            {% if not product.tags | length %}
                {% include "_partials/forms/frame-only-form.njk" %}
            {% endif %}
        </div>

        {% if product.description %}
        <div class="product__description mt-40 mb-24">
            <h2 class="fs-md lh-md fvs-md mt-0 mb-16 tt-uc text-heading">Product Information</h2>
            {{ product.description | safe }}
        </div>
        {% endif %}

        {% include "_partials/components/image-zoom.njk" %}
        {% include "_partials/components/modal.njk" %}
    </main>

    {{content | safe}}
{% endblock %}

