@use '../01-settings/variables' as _v;
@use '../02-tools/mixins/typography' as _ty;

.rte {
  > * {
    @include _ty.text(sm);
  }

  h2 {
    @include _ty.text(lg);
    margin-bottom: (_v.$core-grid / 1.25);
    color: var(--color-foreground);
    font-variation-settings: 'wght' _v.$core-tertiary-font-weight;
  }

  h3 {
    @include _ty.text(md);
    margin-bottom: (_v.$core-grid / 1.25);
    color: var(--color-foreground);
    font-variation-settings: 'wght' _v.$core-tertiary-font-weight;
  }

  ol,
  ul {
    list-style: revert;
    margin-top: (_v.$core-grid * 2);
    margin-bottom: (_v.$core-grid * 2);
    padding: revert;
  }

  ol li,
  ul li {
    margin-bottom: (_v.$core-grid * 2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: (_v.$core-grid * 2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 750px;
  }

  a {
    display: inline-block;
    position: relative;
    color: var(--color-primary);
    font-variation-settings: 'wght' _v.$core-tertiary-font-weight;

    @media (hover) {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-foreground);
        transition: width 0.3s ease-in-out;
      }

      &:hover::before,
      &:focus::before,
      &:active::before {
        width: 100%;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}
