<section class="expression pos-r my-32 md:my-56 lg:my-80 lg:ov-hidden" aria-describedby="expression-heading">
    {% picture
        'https://cdn.shopify.com/s/files/1/1931/6299/files/IMG_0012.jpg',
        '400, 550, 1000, 1200, 1500, 2048',
        '(max-width: 37.4375em) 550px, (min-width: 38em) and (max-width: 47.9375em) 1200px, 2048px',
        null,
        null,
        'pos-r dp-b bgc-fade ratio-3-2 sm:ratio-4-2',
        'expression__image'
    %}

    <div class="expression__container container bgc-border px-16 lg:pos-a lg:dp-f lg:fd-c lg:jc-center lg:bgc-transparent">
        <div class="expression__content p-24 bgc-background pos-r ta-center lg:p-32">
            <h2 class="mt-0 mb-16 text-foreground fs-lg lh-lg fvs-sb" id="expression-heading">Our Travel Maps</h2>

            <p class="fs-xs lh-xs fvs-rg mt-0 mb-16 text-foreground">At Luna Creates we pride ourselves in offering high quality personalised world pinboard maps. We offer a great choice of travel maps with pins, available in different sizes and colours.</p>

            <p class="s-xs lh-xs fvs-rg mt-0 text-foreground">Personalise your world map pinboard with a unique key and select your pin colours to bring your adventures to life. This extremely engaging and unique personalised design makes the ideal gift for any occasion.</p>
        </div>
    </div>
</section>
