<section class="container my-32 px-16 ta-center sm:dp-g sm:gtc-2 sm:gcg-24 md:my-56 lg:my-80 md:ta-left" aria-describedby="feature-block-heading">
    {% picture
        'https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey.jpg',
        '400, 500, 600, 800',
        '(max-width: 37.4375em) 800px, 600px',
        null,
        'Wedding Table Plan',
        'pos-r dp-b bgc-fade mb-24 ratio-1-1 md:mb-0'
    %}

    <div class="md:dp-f md:fd-c jc-center md:pl-5vw">
        <h2 class="feature-block__title mt-0 mb-24 fs-md lh-md fvs-md tt-uc ls-3 text-heading" id="feature-block-heading">Personalised world map table plan</h2>
        <p class="feature-block__body mt-0 mb-24 text-body fs-sm lh-sm fvs-rg">Want a memorable table plan for your wedding? Create your own personalised world map table plan.</p>
        <a href="/products/travel-themed-wedding-table-plan" class="bgc-secondary text-foreground fs-xs lh-xs fvs-md py-16 px-24 borr-5 tt-uc ls-1 dp-ib as-c ol-3-solid-transparent focus:olc-primary hover:bgc-secondary md:px-32 md:as-s">Shop Now</a>
    </div>
</section>
