<section class="container my-32 ta-center" aria-describedby="feature-block-heading">
    <picture class="pos-r dp-b bgc-fade mb-24 ratio-1-1">
        <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg.webp 2x">

        <source media="(max-width: 37.4375em)" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg 2x">

        <source type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_500x500.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg.webp 2x">

        <img class="lazyload" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_500x500.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg 2x" alt="Wedding Table Plan" loading="lazy" width="400" height="400">

        <noscript>
            <source media="(max-width: 37.4375em)" type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg.webp 2x">

            <source media="(max-width: 37.4375em)" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg 2x">

            <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_500x500.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg.webp 2x">

            <img srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_500x500.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg 2x" alt="Wedding Table Plan" loading="lazy" width="400" height="400">
        </noscript>
    </picture>

    <div>
        <h2 class="mt-0 mb-24 fs-md lh-md fvs-md tt-uc ls-3 text-heading" id="feature-block-heading">Personalised world map table plan</h2>
        <p class="mt-0 mb-24 text-body fvs-rg">Want a memorable table plan for your wedding? Create your own personalised world map table plan.</p>
        <a href="/products/travel-themed-wedding-table-plan" class="bgc-secondary text-foreground fs-xs lh-xs fvs-md py-16 px-24 br-5 tt-uc ls-1 dp-ib as-c focus:oc-primary">Shop Now</a>
    </div>
</section>
