{% set title = heroTitle or renderData.heroTitle %}
{% set image = heroImage or renderData.heroImage %}
{% set alt = heroImageAlt %}

<section class="hero pos-r" aria-labelledby="hero-title">
    <div class="hero__content">
        {% picture
            image,
            '300, 600, 800, 1920',
            '(min-width: 38em) and (max-width: 47.9375em) 800px, 100vw',
            null,
            alt,
            'ratio-3-2 md:ratio-4-1',
            'op-right'
        %}
    </div>

    <div class="hero__container container pos-a w-full px-16 ta-c zi-20">
        {% if home %}
            <p class="hero__title mx-auto mb-0 text-background fs-lg lh-xl fvs-rg ta-center tt-uc" id="hero-title">
                <span class="hero__title-highlight bgc-foreground">{{title | safe}}</span>
            </p>
        {% else %}
            <h1 class="hero__title mx-auto my-0 text-background fs-lg lh-xl fvs-rg ta-center tt-uc" id="hero-title">
                <span class="hero__title-highlight bgc-foreground">{{title | safe}}</span>
            </h1>
        {% endif %}
    </div>
</section>

{% if home %}
    <p class="hero__body container my-32 px-16 mx-auto fs-sm lh-sm fvs-rg ta-center md:my-56 lg:my-80">We help you to immortalise your travel adventures, whether you’re finding new places to explore or reflecting on past adventures.</p>
{% endif %}
