{% set title = heroTitle or renderData.heroTitle %}
{% set alt = heroImageAlt or '' %}

<section class="hero pos-r" aria-labelledby="hero-title">
    <div class="hero__content">
    {% if post %}
        {% set image = heroImage or renderData.heroImage %}
        {% set imageWebP = image.split(r/(jpg|png)/g)[0] + 'webp' %}

        <picture class="ratio-3-2 md:ratio-4-1">
            <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="{{imageWebP}}?nf_resize=fit&w=300&h=180 1x, {{imageWebP}}?nf_resize=fit&w=600&h=360 2x">
            <source media="(max-width: 37.4375em)" data-srcset="{{image}}?nf_resize=fit&w=300&h=180 1x, {{image}}?nf_resize=fit&w=600&h=360 2x">

            <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" data-srcset="{{imageWebP}}?nf_resize=fit&w=400&h=240 1x, {{imageWebP}}?nf_resize=fit&w=800&h=480 2x">
            <source media="(min-width: 38em) and (max-width: 47.9375em)" data-srcset="{{image}}?nf_resize=fit&w=400&h=240 1x, {{image}}?nf_resize=fit&w=800&h=480 2x">

            <source type="image/webp" data-srcset="{{imageWebP}}?nf_resize=fit&w=1500&h=500 1x, {{imageWebP}}?nf_resize=fit&w=2048&h=640 2x">
            <img class="lazyload op-right" data-srcset="{{image}}?nf_resize=fit&w=1500&h=500 1x, {{image}}?nf_resize=fit&w=2048&h=640 2x" width="400" height="240" loading="lazy"
            {% if alt === '' %}role="presentation"{% else %}alt="{{ alt }}"{% endif %}>

            <noscript>
                <source media="(max-width: 37.4375em)" type="image/webp" srcset="{{imageWebP}}?nf_resize=fit&w=300&h=180 1x, {{imageWebP}}?nf_resize=fit&w=600&h=360 2x">
                <source media="(max-width: 37.4375em)" srcset="{{image}}?nf_resize=fit&w=300&h=180 1x, {{image}}?nf_resize=fit&w=600&h=360 2x">

                <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" srcset="{{imageWebP}}?nf_resize=fit&w=400&h=240 1x, {{imageWebP}}?nf_resize=fit&w=800&h=480 2x">
                <source media="(min-width: 38em) and (max-width: 47.9375em)" srcset="{{image}}?nf_resize=fit&w=400&h=240 1x, {{image}}?nf_resize=fit&w=800&h=480 2x">

                <source type="image/webp" srcset="{{imageWebP}}?nf_resize=fit&w=1500&h=500 1x, {{imageWebP}}?nf_resize=fit&w=2048&h=640 2x">
                <img class="op-right" srcset="{{image}}?nf_resize=fit&w=1500&h=500 1x, {{image}}?nf_resize=fit&w=2048&h=640 2x" width="400" height="240" loading="lazy" {% if alt === '' %}role="presentation"{% else %}alt="{{ alt }}"{% endif %}>
            </noscript>
        </picture>
    {% else %}
            {% set image = heroImage or renderData.heroImage %}
            {% set ext = image.split(r/(.jpg|.png)/g)[1] %}
            {% set path = image.replace(ext, '') %}

            <picture class="ratio-3-2 md:ratio-4-1">
                <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="{{path}}_300x180_crop_top{{ext}}.webp 1x, {{path}}_600x360_crop_top{{ext}}.webp 2x">
                <source media="(max-width: 37.4375em)" data-srcset="{{path}}_300x180_crop_top{{ext}} 1x, {{path}}_600x360_crop_top{{ext}} 2x">

                <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" data-srcset="{{path}}_400x240_crop_top{{ext}}.webp 1x, {{path}}_800x480_crop_top{{ext}}.webp 2x">
                <source media="(min-width: 38em) and (max-width: 47.9375em)" data-srcset="{{path}}_400x240_crop_top{{ext}} 1x, {{path}}_800x480_crop_top{{ext}} 2x">

                <source type="image/webp" data-srcset="{{path}}_1500x500_crop_top{{ext}}.webp 1x, {{path}}_2048x640_crop_top{{ext}}.webp 2x">
                <img class="lazyload op-right" data-srcset="{{path}}_1500x500_crop_top{{ext}} 1x, {{path}}_2048x640_crop_top{{ext}} 2x" width="400" height="240" loading="lazy" {% if alt === '' %}role="presentation"{% else %}alt="{{ alt }}"{% endif %}>

                <noscript>
                    <source media="(max-width: 37.4375em)" type="image/webp" srcset="{{path}}_300x180_crop_top{{ext}}.webp 1x, {{path}}_600x360_crop_top{{ext}}.webp 2x">
                    <source media="(max-width: 37.4375em)" srcset="{{path}}_300x180_crop_top{{ext}} 1x, {{path}}_600x360_crop_top{{ext}} 2x">

                    <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" srcset="{{path}}_400x240_crop_top{{ext}}.webp 1x, {{path}}_800x480_crop_top{{ext}}.webp 2x">
                    <source media="(min-width: 38em) and (max-width: 47.9375em)" srcset="{{path}}_400x240_crop_top{{ext}} 1x, {{path}}_800x480_crop_top{{ext}} 2x">

                    <source type="image/webp" srcset="{{path}}_1500x500_crop_top{{ext}}.webp 1x, {{path}}_2048x640_crop_top{{ext}}.webp 2x">
                    <img class="op-right" srcset="{{path}}_1500x500_crop_top{{ext}} 1x, {{path}}_2048x640_crop_top{{ext}} 2x" width="400" height="240" loading="lazy" {% if alt === '' %}role="presentation"{% else %}alt="{{ alt }}"{% endif %}>
                </noscript>
            </picture>
    {% endif %}
    </div>

    <div class="hero__container container pos-a w-full px-16 ta-c zi-20">
        {% if home %}
            <p class="hero__title mx-auto mb-0 text-background fs-lg lh-xl fvs-rg ta-center tt-uc" id="hero-title">
                <span class="hero__title-highlight bgc-foreground">{{title | safe}}</span>
            </p>
        {% else %}
            <h1 class="hero__title mx-auto my-0 text-background fs-lg lh-xl fvs-rg ta-center tt-uc" id="hero-title">
                <span class="hero__title-highlight bgc-foreground">{{title | safe}}</span>
            </h1>
        {% endif %}
    </div>
</section>

{% if home %}
    <p class="hero__body container my-32 px-16 mx-auto fs-sm lh-sm fvs-rg ta-center md:my-56 lg:my-80">We help you to immortalise your travel adventures, whether you’re finding new places to explore or reflecting on past adventures.</p>
{% endif %}
