<div class="modal pos-f dp-f fd-c jc-end ai-c zi-120 md:jc-center" role="dialog" aria-labelledby="dialog-title-zoom" data-modal="image-zoom" hidden="hidden">
    <div class="modal__inner pos-r mb-48 p-24 bgc-background md:mb-0 md:p-32">
        <h2 class="fs-md lh-md fvs-md text-tertiary mt-0 mb-16 tt-uc ls-3" id="dialog-title-zoom">Image zoom</h2>

        <div class="modal__zoom bgc-fade" data-modal-zoom="data-modal-zoom">
            <div class="modal__picture pos-a" data-product-picture="data-product-picture">
                <div class="modal__image" style="background-image: url('{{product.mainImage}}.jpg')" data-product-image="data-product-image"></div>
            </div>
        </div>

        <span class="modal__zoom-text dp-b pos-r mt-16"></span>

        <div class="modal__image-zoom pos-f pe-none zi-120" data-bg="url('{{product.mainImage}}.jpg')" data-image-zoom="data-image-zoom"></div>

        <button class="modal__close-button pos-a p-8" aria-label="Close dialog" data-close-modal="data-close-modal">
            <svg height="24" width="24" aria-hidden="true" class="modal__close-icon pe-none">
                <use xlink:href="/icons/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>
