<section class="container my-32 px-16 md:my-56 lg:my-80" aria-describedby="instagram-collection">
    <h2 class="fs-md lh-md fvs-rg text-heading ls-3 mt-0 mb-24 ta-center tt-uc md:mb-40" id="instagram-collection">Follow us on Instagram <a href="{{settings.instagramUrl}}" class="inline-link pos-r dp-ib fvs-md">@{{settings.instagramName}}</a></h2>

    <ul class="dp-g gtc-3 gg-16 w-full md:gg-32">
    {% for item in instagramCollection %}
        <li class="picture-scale pos-r ov-hidden">
            {% picture
                item.image,
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'pos-r db-b bgc-fade ratio-1-1 ov-hidden'
            %}

            <a class="pos-a top-0 right-0 bottom-0 left-0 op-0" href="https://www.instagram.com/lunacreatesdesign/">View more images on our Instagram</a>
        </li>
    {% endfor %}
    </ul>
</section>
