<section class="pos-r py-24 px-16 bgc-primary zi-40 h-full lg:py-8">
    <div class="container px-16 penv-top">
        <p class="fs-sm fvs-md lh-sm text-background ta-center">Order by Friday 18th of December for Christmas delivery (UK &amp; I) &amp; receive an automatic 10% discount at checkout</p>
    </div>
</section>
