<section class="notification">
    <div class="notification__container">
        <p class="notification__body">Black Friday week starts early with an automatic 10% off all products at checkout.</p>
    </div>
</section>
