<section class="pos-r py-24 px-16 bgc-primary zi-40">
    <div class="container">
        <p class="fs-sm fvs-md lh-sm text-background ta-center">Covid-19 Update - We are open as usual and offering free shipping for all orders being delivered in the UK &amp; Ireland</p>
    </div>
</section>
