{% if product.thumbnails | length > 4 %}
    <div class="product__carousel pos-r mx-24" data-component="product-thumbnails-carousel" tabindex="0">
        <div class="glide__track" data-glide-el="track">
            <ul class="thumbnails glide__slides dp-f flex-nowrap mt-16" data-component="product-thumbnails">
                {% for thumbnail in product.thumbnails %}
                    <li class="thumbnails__thumbnail glide__slide pos-r mr-16">
                        <a href="{{thumbnail.image}}{{thumbnail.type}}" class="thumbnails__link {% if loop.first %}thumbnails__link--active{% endif %} pos-a zi-10" data-thumbnail-link="data-thumbnail-link">Thumbnail item {{loop.index}}</a>

                        {% picture
                            thumbnail.image,
                            '75, 100, 200, 300, 450',
                            '(max-width: 37.4375em) 100px, (min-width: 38em) and (max-width: 47.9375em) 800px, 2048px',
                            null,
                            alt,
                            'thumbnails__picture ratio-1-1'
                        %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="glide__arrows" data-glide-el="controls">
            <button 0="0" 7="7" class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="previous">
            <svg class=" glide__icon" xmlns=" http://www.w3.org/2000/svg" width="7" height="19" viewbox="0 0 7 19">
                <path fill="#DBDBDB" fill-rule="evenodd" d="M7 0v19L0 9.5z" opacity=".9"/>
            </svg>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="next">
            <svg class="glide__icon" xmlns="http://www.w3.org/2000/svg" width="7" height="19" viewbox="0 0 7 19">
                <path fill="#DBDBDB" fill-rule="evenodd" d="M7 0v19L0 9.5z" opacity=".9"/>
            </svg>
        </button>
    </div>
</div>

{% else %}
<ul class="thumbnails mt-16 dp-f flex-nowrap" data-component="product-thumbnails">
    {% for thumbnail in product.thumbnails %}
        <li class="thumbnails__thumbnail pos-r mr-16">
            <a href="{{thumbnail.image}}{{thumbnail.type}}" class="thumbnails__link {% if loop.first %}thumbnails__link--active{% endif %} pos-a zi-10" data-thumbnail-link="data-thumbnail-link">Thumbnail item {{loop.index + 1}}</a>

            {% picture
                thumbnail.image,
                '75, 100, 200, 300, 450',
                '(max-width: 37.4375em) 100px, (min-width: 38em) and (max-width: 47.9375em) 800px, 2048px',
                null,
                alt,
                'thumbnails__picture ratio-1-1'
            %}
        </li>
    {% endfor %}
</ul>
{% endif %}
