<section class="pos-r my-32 py-32 bgc-fade ta-center" aria-describedby="quotes-title">
    <h2 class="sr-only text-heading" id="quotes-title">Recent reviews</h2>

    <div class="container">
        <div data-component="quotes">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <blockquote>
                            <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                                <use xlink:href="/icons/sprite.svg#quote"></use>
                            </svg>
                            <p class="my-16 fvs-rg text-body">Just want to say thank you for the incredible customer service provided, will certainly recommend you to friends!</p>
                            <cite class="quotes__cite fs-sx lh-sx fvs-md fst-normal">Kate</cite>
                        </blockquote>
                    </li>

                    <li class="glide__slide">
                        <blockquote>
                            <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                                <use xlink:href="/icons/sprite.svg#quote"></use>
                            </svg>
                            <p class="my-16 fvs-rg text-body">I was really impressed with the quality of the printing and framing. It looks great on our kitchen wall!</p>
                            <cite class="quotes__cite fs-sx lh-sx fvs-md fst-normal">Gemma L</cite>
                        </blockquote>
                    </li>

                    <li class="glide__slide">
                        <blockquote>
                            <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                                <use xlink:href="/icons/sprite.svg#quote"></use>
                            </svg>
                            <p class="my-16 fvs-rg text-body">What amazing customer service you have, backed up by a truly great product. I just wanted to say thank you for being such a pleasure to deal with.</p>
                            <cite class="quotes__cite fs-sx lh-sx fvs-md fst-normal">Cameron</cite>
                        </blockquote>
                    </li>
                </ul>
            </div>

            <div class="glide__bullets md:dp-n" data-glide-el="controls[nav]">
                <button type="button" class="glide__bullet" data-glide-dir="=0">
                    <span class="glide__bullet-body">Quote 1</span>
                </button>
                <button type="button" class="glide__bullet" data-glide-dir="=1">
                    <span class="glide__bullet-body">Quote 2</span>
                </button>
                <button type="button" class="glide__bullet" data-glide-dir="=2">
                    <span class="glide__bullet-body">Quote 3</span>
                </button>
            </div>
        </div>
    </div>
</section>
