<div class="banner">
{{#if home}}
    <div class="banner__content">
        <picture class="banner__picture banner__picture--home">
            <source media="(max-width: 47.9375em)" type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_400x240.jpg.webp?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_800x480.jpg.webp?v=1574005714 2x">

            <source media="(max-width: 47.9375em)"  data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_400x240.jpg?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_800x480.jpg?v=1574005714 2x">

            <source  type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_1500x469.jpg.webp?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_2048x640.jpg.webp?v=1574005714 2x">

            <img class="banner__image lazyload" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_1500x469.jpg?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_2048x640.jpg?v=1574005714 2x" role="presentation" width="400" height="240" loading="lazy">

            <noscript>
                <source media="(max-width: 47.9375em)" type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_400x240.jpg.webp?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_800x480.jpg.webp?v=1574005714 2x">

                <source media="(max-width: 47.9375em)" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_400x240.jpg?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_800x480.jpg?v=1574005714 2x">

                <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_1500x469.jpg.webp?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_2048x640.jpg.webp?v=1574005714 2x">

                <img class="banner__image lazyload" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_1500x469.jpg?v=1574005714 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner_2048x640.jpg?v=1574005714 2x" role="presentation" width="400" height="240" loading="lazy">
            </noscript>
        </picture>
    </div>

    <div class="banner__container">
        <h1 class="banner__title">By travel lovers, for travel lovers</h1>
        <p class="banner__body">We help you immortalise your biggest and best adventures, whether you’re finding new places, welcoming new faces, or
        starting new chapters with the people you love.</p>
    </div>
{{/if}}
</div>
