{% set image = 'https://cdn.shopify.com/s/files/1/1931/6299/files/IMG_0012' %}

<section class="expression" aria-describedby="expression-heading">
    <picture class="expression__picture">
        <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="{{image}}_400x267.jpg.webp 1x, {{image}}_550x367.jpg.webp 2x">
        <source media="(max-width: 37.4375em)"  data-srcset="{{image}}_400x267.jpg 1x, {{image}}_550x367.jpg 2x">

        <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" data-srcset="{{image}}_1000x250.jpg.webp 1x, {{image}}_1200x600.jpg.webp 2x">
        <source media="(min-width: 38em) and (max-width: 47.9375em)"  data-srcset="{{image}}_1000x500.jpg 1x, {{image}}_1200x600.jpg 2x">

        <source  type="image/webp" data-srcset="{{image}}_1500x750.jpg.webp 1x, {{image}}_2048x640.jpg.webp?v=1574005714 2x">
        <img class="expression__image lazyload" data-srcset="{{image}}_1500x750.jpg 1x, {{image}}_2048x640.jpg 2x" role="presentation" width="300" height="200" loading="lazy">

        <noscript>
            <source media="(max-width: 37.4375em)" type="image/webp" srcset="{{image}}_400x267.jpg.webp 1x, {{image}}_550x367.jpg.webp 2x">
            <source media="(max-width: 37.4375em)"  srcset="{{image}}_400x267.jpg 1x, {{image}}_550x367.jpg 2x">

            <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" srcset="{{image}}_1000x250.jpg.webp 1x, {{image}}_1200x600.jpg.webp 2x">
            <source media="(min-width: 38em) and (max-width: 47.9375em)"  srcset="{{image}}_1000x500.jpg 1x, {{image}}_1200x600.jpg 2x">

            <source type="image/webp" srcset="{{image}}_1500x750.jpg.webp 1x, {{image}}_2048x640.jpg.webp?v=1574005714 2x">
            <img class="expression__image" srcset="{image}}_1500x750.jpg 1x, {{image}}_2048x640.jpg 2x" role="presentation" width="300" height="200" loading="lazy">
        </noscript>
    </picture>

    <div class="expression__container">
        <div class="expression__content">
            <h2 class="expression__title" id="expression-heading">Our Travel Maps</h2>

            <p class="expression__body">At Luna Creates we pride ourselves in offering high quality personalised world pinboard maps. We offer a great choice of travel maps with pins, available in different sizes and colours.</p>

            <p class="expression__body">Personalise your pinboard map with a unique key and select your pin colours to bring your adventures to life. This extremely engaging and unique personalised design makes the ideal gift for any occasion.</p>
        </div>
    </div>
</section>
