<section class="feature-block feature-block--container">
    <picture class="feature-block__picture">
        <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg.webp 2x">

        <source media="(max-width: 37.4375em)" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg 2x">

        <source type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1100x1100.jpg.webp 2x">

        <img class="feature-block__image lazyload" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1100x1100.jpg 2x" alt="Wedding Table Plan" loading="lazy" width="400" height="400">

        <noscript>
            <source media="(max-width: 37.4375em)" type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg.webp 2x">

            <source media="(max-width: 37.4375em)" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_400x400.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_800x800.jpg 2x">

            <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg.webp 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1100x1100.jpg.webp 2x">

            <img class="feature-block__image" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_550x550.jpg 1x, https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1100x1100.jpg 2x" alt="Wedding Table Plan" loading="lazy" width="400" height="400">
        </noscript>
    </picture>

    <div class="feature-block__content">
        <h2 class="feature-block__title">Personalised world map table plan</h2>
        <p class="feature-block__body">Want a memorable table plan for your wedding? Create your own personalised world map table plan.</p>
        <a href="/products/travel-themed-wedding-table-plan" class="feature-block__cta">Shop Now</a>
    </div>
</section>
