<section class="featured featured--container" aria-describedby="featured-title">
    <h2 class="featured__title" id="featured-title">Our Travel Maps</h2>

    <div class="featured__products">
    {% for product in featuredProducts %}
        <div class="featured__product">
            <picture class="featured__picture">
                <source type="image/webp" data-srcset="{{product.image}}_300x300.jpg.webp 1x, {{product.image}}_375x375.jpg.webp 2x">

                <img data-srcset="{{product.image}}_300x300.jpg 1x, {{product.image}}_375x375.jpg 2x" alt="{{product.imageAlt}}" class="featured__image lazyload" loading="lazy" width="300" height="300">

                <noscript>
                    <source type="image/webp" srcset="{{product.image}}_300x300.jpg.webp 1x, {{product.image}}_375x375.jpg.webp 2x">

                    <img srcset="{{product.image}}_300x300.jpg 1x, {{product.image}}_375x375.jpg 2x" alt="{{product.imageAlt}}" class="featured__image" loading="lazy" width="300" height="300">
                </noscript>
            </picture>
            <a class="featured__link" href="{{product.slug}}">{{product.title}}</a>
            <span class="featured__price">{{product.price}}</span>
        </div>
    {% endfor %}
    </div>

    <a href="/products/" class="featured__cta">View all</a>
</section>
