<section class="feature-block feature-block--container">
    <picture class="feature-block__picture">
        <source media="(max-width: 47.9375em)" type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_768x768.jpg.webp?v=1570706380">
        <source media="(max-width: 47.9375em)" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_768x768.jpg?v=1570706380">
        <source type="image/webp" data-srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1000x1000.jpg.webp?v=1570706380">
        <img class="feature-block__image lazyload" data-src="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1000x1000.jpg?v=1570706380" alt="Wedding Table Plan">

        <noscript>
            <source media="(max-width: 47.9375em)" type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_768x768.jpg.webp?v=1570706380">
            <source media="(max-width: 47.9375em)" srcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_768x768.jpg?v=1570706380">
            <source type="image/webp" rcset="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1000x1000.jpg.webp?v=1570706380">
            <img class="feature-block__image lazyload" src="https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey_1000x1000.jpg?v=1570706380" alt="Wedding Table Plan">
        </noscript>
    </picture>

    <div class="feature-block__content">
        <h2 class="feature-block__title">Personalised world map table plan</h2>
        <p class="feature-block__body">Want a memorable table plan for your wedding? Create your own personalised world map table plan.</p>
        <a href="/products/travel-themed-wedding-table-plan" class="feature-block__cta">Shop Now</a>
    </div>
</section>
