{% set image = renderData.heroImage or heroImage %}
{% set title = renderData.heroTitle or heroTitle  %}

<section class="hero" aria-labelledby="hero-title">
    <div class="hero__content">
        <picture class="hero__picture">
            <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="{{image}}_300x180_crop_top.jpg.webp 1x, {{image}}_600x360_crop_top.jpg.webp 2x">
            <source media="(max-width: 37.4375em)"  data-srcset="{{image}}_300x180_crop_top.jpg 1x, {{image}}_600x360_crop_top.jpg 2x">

            <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" data-srcset="{{image}}_400x240_crop_top.jpg.webp 1x, {{image}}_800x480_crop_top.jpg.webp 2x">
            <source media="(min-width: 38em) and (max-width: 47.9375em)"  data-srcset="{{image}}_400x240_crop_top.jpg 1x, {{image}}_800x480_crop_top.jpg 2x">

            <source  type="image/webp" data-srcset="{{image}}_1500x500_crop_top.jpg.webp 1x, {{image}}_2048x640_crop_top.jpg.webp?v=1574005714 2x">
            <img class="hero__image lazyload" data-srcset="{{image}}_1500x500_crop_top.jpg 1x, {{image}}_2048x640_crop_top.jpg 2x" role="presentation" width="400" height="240" loading="lazy">

            <noscript>
                <source media="(max-width: 37.4375em)" type="image/webp" srcset="{{image}}_300x180_crop_top.jpg.webp 1x, {{image}}_600x360_crop_top.jpg.webp 2x">
                <source media="(max-width: 37.4375em)"  srcset="{{image}}_300x180_crop_top.jpg 1x, {{image}}_600x360_crop_top.jpg 2x">

                <source media="(min-width: 38em) and (max-width: 47.9375em)" type="image/webp" srcset="{{image}}_400x240_crop_top.jpg.webp 1x, {{image}}_800x480_crop_top.jpg.webp 2x">
                <source media="(min-width: 38em) and (max-width: 47.9375em)"  srcset="{{image}}_400x240_crop_top.jpg 1x, {{image}}_800x480_crop_top.jpg 2x">

                <source type="image/webp" srcset="{{image}}_1500x500_crop_top.jpg.webp 1x, {{image}}_2048x640_crop_top.jpg.webp 2x">
                <img class="hero__image" srcset="{{image}}_1500x500_crop_top.jpg 1x, {{image}}_2048x640_crop_top.jpg 2x" role="presentation" width="400" height="240" loading="lazy">
            </noscript>
        </picture>
    </div>

    <div class="hero__container">
        {% if home %}
            <p class="hero__title" id="hero-title">{{title}}</p>
        {% else %}
            <h1 class="hero__title" id="hero-title">{{title}}</h1>
        {% endif %}
    </div>
</section>

{% if home %}
    <p class="hero__body hero--container">We help you immortalise your biggest and best adventures, whether you’re finding new places or starting new chapters with the people you love.</p>
{% endif %}
