<div class="modal" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description" hidden data-key-map-modal>
    <div class="modal__inner">
        <h2 class="modal__title" id="dialog-title">Your key preview</h2>
        <p class="modal__body" id="dialog-description">Please check your preview as your submission is final and will be printed as shown.</p>

        <div class="modal__key-map" data-key-map></div>

        {% set variant = product.options[0] %}

        <button type="button" class="modal__basket-button" aria-live="polite" data-variant-id="{{variant.id}}" data-variant-options='{"key":"{{variant.name}}","value":"{{variant.value}}"}' data-add-to-basket>Add map to basket</button>

        <button class="modal__close-button" aria-label="Close dialog" data-close-modal>
            <svg height="24" width="24" aria-hidden="true" class="modal__close-icon">
                <use xlink:href="/icons/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>
