<nav class="nav" id="nav" data-component="navigation">
    <button type="button" class="nav__button fs-sm fvs-md mt-0 mb-0 pos-r dp-f jc-between ai-c text-primary tt-uc zi-20" aria-live="polite" aria-expanded="false" aria-label="Menu" data-nav-button>
        <svg class="pe-none" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 48 38" fill="currentColor">
            <path d="M.2 0h47.5v6.3H.2z" />
            <path d="M.2 15.8h47.5v6.4H.2z" />
            <path d="M.2 31.7h47.5V38H.2z" />
        </svg>
    </button>

    <ul class="nav__list pos-a px-16 borb-primary bgc-background zi-10 w-full" data-nav-list>
    {% for item in settings.navigation %}
        <li class="nav__item pos-r mb-8">
            <a href="{{item.url}}" class="nav__link fs-sm fvs-md lh-sm dp-f ai-c my-0 py-8 text-primary tt-uc" data-nav-item="{{item.title}}" aria-expanded="false">
                {{item.title}}
                {% if item.collections %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="nav__link-icon">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                {% endif %}
            </a>

            {% if item.collections %}
            <ul class="nav__sub pl-16" data-sub-nav>
            {% for collection in item.collections %}
                <li class="mb-8" data-sub-item>
                    <a href="{{collection.url}}" class=" py-8 dp-f ai-c my-0 fs-sm lh-sm tt-cp text-primary fvs-md" data-sub-link>{{collection.title}}</a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>
