{% set variant = product.options[0] %}

<form class="product__form" data-product-form data-variant-id="{{variant.id}}">
    <div class="product__field">
        <label for="address" class="product__label">Enter address</label>
        <input type="text" name="address details" class="product__input" id="address" required>
    </div>

    <div class="product__field">
        <label for="pin-colour" class="product__label">Select Pin</label>
        <div class="product__select-wrapper">
            <select name="pin colour" id="pin-colour" class="product__select" required>
                <option value="Red Heart">Red Heart</option>
                <option value="Green Monopoly House">Green Monopoly House</option>
                <option value="Blue Monopoly House">Blue Monopoly House</option>
                <option value="Pink Monopoly House">Pink Monopoly House</option>
                <option value="Purple Monopoly House">Purple Monopoly House</option>
                <option value="Red Monopoly House">Red Monopoly House</option>
                <option value="Yellow Monopoly House">Yellow Monopoly House</option>
            </select>
            <svg class="product__select-icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/icons/sprite.svg#chevron"></use>
            </svg>
        </div>
    </div>

    <div class="product__field">
        <label for="date-moved" class="product__label">Enter date moved into house</label>
        <input type="text" name="date moved" class="product__input" id="date-moved" required>
    </div>

    <div class="product__field">
        <label for="quantity" class="product__label">Quantity</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" class="product__input product__input--quantity" pattern="[0-9]*">
    </div>

    <button type="submit" class="product__basket-button" aria-live="polite">Add to basket</button>
</form>
