<section class="notification">
    <div class="notification__container">
        <p class="notification__body">Covid-19 Update - We are open as usual and offering free shipping for all orders being delivered in the UK &amp; Ireland</p>
    </div>
</section>
