<section class="notification">
    <div class="notification__container">
        <p class="notification__body">Covid-19 Update - We are open as usual and still processing all customer orders as normal</p>
    </div>
</section>
