<section class="quotes" aria-describedby="quotes-title">
    <h2 class="quotes__title" id="quotes-title">Recent reviews</h2>

    <div class="quotes__container">
        <div class="quotes__content" data-component="quotes" tabindex="0">
            <ul class="quotes__track glide__track" data-glide-el="track">
                <li class="quotes__slides glide__slides">
                    <blockquote class="quotes__quote glide__slide">
                        <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                            <use xlink:href="/icons/sprite.svg#quote"></use>
                        </svg>
                        <p class="quotes__body">Just want to say thank you for the incredible customer service provided, will certainly recommend you to friends!</p>
                        <cite class="quotes__cite">Kate</cite>
                    </blockquote>

                    <blockquote class="quotes__quote glide__slide">
                        <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                            <use xlink:href="/icons/sprite.svg#quote"></use>
                        </svg>
                        <p class="quotes__body">I was really impressed with the quality of the printing and framing. It looks great on our kitchen wall!</p>
                        <cite class="quotes__cite">Gemma L</cite>
                    </blockquote>

                    <blockquote class="quotes__quote glide__slide">
                        <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                            <use xlink:href="/icons/sprite.svg#quote"></use>
                        </svg>
                        <p class="quotes__body">What amazing customer service you have, backed up by a truly great product. I just wanted to say thank you for being such a pleasure to deal with.</p>
                        <cite class="quotes__cite">Cameron</cite>
                    </blockquote>
                </li>
            </ul>

            <div class="quotes__bullets glide__bullets" data-glide-el="controls[nav]" aria-hidden="true">
                <button type="button" class="glide__bullet" data-glide-dir="=0">
                    <span class="glide__bullet-body">Quote 1</span>
                </button>
                <button type="button" class="glide__bullet" data-glide-dir="=1">
                    <span class="glide__bullet-body">Quote 2</span>
                </button>
                <button type="button" class="glide__bullet" data-glide-dir="=2">
                    <span class="glide__bullet-body">Quote 3</span>
                </button>
            </div>
        </div>
    </div>
</section>
