<section class="quotes quotes--container">
    <div class="quotes__content" data-component="quotes" tabindex="0">
        <div class="quotes__track glide__track" data-glide-el="track">
            <div class="quotes__slides glide__slides">
                <blockquote class="quotes__quote glide__slide">
                    <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/quote.svg" x="0" y="0" width="100%" height="100%"></image>
                    </svg>
                    <p class="quotes__body">Just want to say thank you for the incredible customer service provided, will certainly recommend you to friends!</p>
                    <cite class="quotes__cite">Kate</cite>
                </blockquote>

                <blockquote class="quotes__quote glide__slide">
                    <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/quote.svg" x="0" y="0" width="100%" height="100%"></image>
                    </svg>
                    <p class="quotes__body">I was really impressed with the quality of the printing and framing. It looks great on our kitchen wall!</p>
                    <cite class="quotes__cite">Gemma L</cite>
                </blockquote>

                <blockquote class="quotes__quote glide__slide">
                    <svg class="quotes__icon" width="20" height="19" aria-hidden="true">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/quote.svg" x="0" y="0" width="100%" height="100%"></image>
                    </svg>
                    <p class="quotes__body">What amazing customer service you have, backed up by a truly great product. I just wanted to say thank you for being such a pleasure to deal with.</p>
                    <cite class="quotes__cite">Cameron</cite>
                </blockquote>
            </div>
        </div>

        <div class="quotes__bullets glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
        </div>
    </div>
</section>
