{% set variant = product.options[0] %}

<form class="product__form" data-product-form data-variant-id="{{variant.id}}">
    <div class="product__field">
        <label for="table-title" class="product__label">Title for Table Plan</label>
        <input type="text" name="table title" class="product__input" placeholder="e.g. John &amp; Jane's Wedding" id="table-title" required>
    </div>

    <div class="product__field">
        <label for="table-date" class="product__label">Date of Wedding</label>
        <input type="text" name="wedding date" class="product__input" placeholder="e.g. 25th December 2020" id="table-date" required>
    </div>

    <div class="product__field">
        <label for="table-number" class="product__label">Number of Tables</label>
        <div class="product__select-wrapper">
            <select name="table numbers" id="table-number" class="product__select" required>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
            <svg class="product__select-icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/icons/sprite.svg#chevron"></use>
            </svg>
        </div>
    </div>

    <div class="product__field">
        <label for="table-names" class="product__label">Table Names</label>
        <textarea name="table names" id="table-names" class="product__textarea" placeholder="e.g. Table 1 = England, Table 2 = Italy, etc." required></textarea>
    </div>

    <div class="product__field">
        <label for="table-guests" class="product__label">Guest Names per Table</label>
        <textarea name="guest names" id="table-guests" class="product__textarea" placeholder="Table 1 = John Mann, Jane Mann, Jo Ede etc. &#10;Table 2 = Jane Smith, Steve Smith, etc." required></textarea>
    </div>

    <div class="product__field">
        <label for="table-colour" class="product__label">Colour Theme</label>
        <div class="product__select-wrapper">
            <select name="color theme" id="table-colour" class="product__select" required>
                <option value="Navy Blue">Navy Blue</option>
                <option value="Blush Pink">Blush Pink</option>
                <option value="Platinum Grey">Platinum Grey</option>
                <option value="Mint">Mint</option>
                <option value="Olive Green">Olive Green</option>
            </select>
            <svg class="product__select-icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/icons/sprite.svg#chevron"></use>
            </svg>
        </div>
    </div>

    <div class="product__field">
        <label for="quantity" class="product__label">Quantity</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" class="product__input product__input--quantity" pattern="[0-9]*">
    </div>

    <button type="submit" class="product__basket-button" aria-live="polite">Add to basket</button>
</form>
