
@mixin picture {
  position: relative;
  display: block;
  background-color: var(--color-fade);

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }
}
