
@use '../02-tools/mixins/responsive' as _r;

.accordion__button {
  transition: none;
}

.accordion__icon {
  width: 28px;
  height: 100%;
  flex: 0 0 28px;
  transition: transform 0.3s ease-in-out;
  pointer-events: none;

  .accordion__button[aria-expanded='true'] & {
    transform: rotate(180deg);
  }

  path {
    fill: currentColor;
  }

  @include _r.min(lg) {
    width: 32px;
    flex-basis: 32px;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.accordion__body {
  max-width: 80ch;
}
