.pin-color {
  box-shadow: 0 0 0 1px var(--color-border);
}

.pin-color:checked {
  background-color: var(--color);
}

.pin-color:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.pin-color:checked ~ .pin-color__chosen {
  display: block;
}

/*! purgecss start ignore */
[id='pink-pin']:checked ~ .pin-color__chosen [id='pink-chosen'],
[id='light-blue-pin']:checked ~ .pin-color__chosen [id='light-blue-chosen'],
[id='green-pin']:checked ~ .pin-color__chosen [id='green-chosen'],
[id='purple-pin']:checked ~ .pin-color__chosen [id='purple-chosen'],
[id='white-pin']:checked ~ .pin-color__chosen [id='white-chosen'],
[id='yellow-pin']:checked ~ .pin-color__chosen [id='yellow-chosen'],
[id='red-pin']:checked ~ .pin-color__chosen [id='red-chosen'],
[id='blue-pin']:checked ~ .pin-color__chosen [id='blue-chosen'],
[id='orange-pin']:checked ~ .pin-color__chosen [id='orange-chosen'],
[id='black-pin']:checked ~ .pin-color__chosen [id='black-chosen'] {
  display: flex;
}

.pin-color__labels[id='map-label-no']:checked  ~ [data-pins-chosen] label,
.pin-color__labels[id='map-label-no']:checked  ~ [data-pins-chosen] input {
  display: none;
}

.pin-color__labels[id='map-label-yes']:checked  ~ [data-pins-chosen] span {
  display: none;
}

.pin-color__labels[id='map-label-no']:checked  ~ [data-pins-chosen] p {
  display: block;
}
/*! purgecss end ignore */

.pin-color__text::placeholder {
  font-style: italic;
}
