@use '../01-settings/variables' as _v;
@use '../02-tools/functions/z-index' as _zi;
@use '../02-tools/mixins/responsive' as _r;

.search {
  top: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  @include _r.max(md) {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include _r.min(md) {
    top: 50%;
    right: 86px;
    width: 0;
    height: auto;
    transform: translateY(-50%);
    outline: 5px solid var(--color-background);
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.search--open {
  opacity: 1;
  visibility: visible;

  @include _r.min(md) {
    width: calc(100% - 100px);
  }

  @include _r.min(lg) {
    width: calc(100% - 120px);
  }
}

.search__label {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search__input {
  border-radius: 0;
  color: inherit;

  @include _r.max(md) {
    border: 0;
  }
}

.search__results {
  top: 100%;
  left: 0;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;

  &:empty {
    display: none;
  }

  .search--open &:not(&:empty) {
    display: block;
  }

  @include _r.min(md) {
    min-width: 275px;
    max-height: 450px;
    border: 1px solid var(--color-border);
  }

  @include _r.min(lg) {
    width: calc(100% + 5vw);
  }
}

.search__result {
  &:last-child {
    margin-bottom: 0;
  }
}

.search__result-container {
  flex: 0 0 75px;
}

.search__result-picture {
  position: relative;
  display: block;
  padding-top: 100%;
  background-color: var(--color-fade);
}

.search__result-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search__result-link {
  flex: 1;
  color: inherit;
  font-variation-settings: inherit;
}

.search__results-status {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
}
