@use '../settings/variables' as _variables;
@use '../tools/mixins/responsive' as _responsive;
@use '../tools/mixins/transitions' as _transitions;
@use '../tools/mixins/typography' as _typography;

// Global.............The sites core styles.

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next-variable.woff2') format('woff2-variations');
  font-display: optional;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-primary: #{_variables.$core-color-primary};
  --color-secondary: #{_variables.$core-color-secondary};
  --color-tertiary: #{_variables.$core-color-tertiary};
  --color-background: #{_variables.$core-color-background};
  --color-foreground: #{_variables.$core-color-foreground};
  --color-neutral: #{_variables.$core-color-neutral};
  --color-fade: #{_variables.$core-color-fade};
  --color-heading: #{_variables.$core-color-heading};
  --color-body: #{_variables.$core-color-body};
  --color-border: #{_variables.$core-color-border};
  --color-danger: #{_variables.$core-color-danger};
  --color-success: #{_variables.$core-color-success};
}

html {
  font-size: _variables.$core-font-size;
}

body {
  @include _typography.text(sm);
  color: var(--color-body);
  background-color: var(--color-background);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body ::-moz-selection {
  background: var(--color-foreground);
  color: var(--color-background);
}

body ::selection {
  background: var(--color-foreground);
  color: var(--color-background);
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h1 {
  letter-spacing: 2px;
}

p {
  margin-top: 0;
  color: var(--color-body);
  font-variation-settings: 'wght' _variables.$core-font-weight;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  font-variation-settings: 'wght' _variables.$core-font-weight;
  text-decoration: none;

  @media (hover) {
    @include _transitions.transition-03(all);
    cursor: pointer;
  }
}

strong {
  font-weight: _variables.$core-font-weight;
  font-variation-settings: 'wght' _variables.$core-tertiary-font-weight;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

dd {
  margin-left: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

blockquote {
  margin: 0;
}

table {
  border-collapse: collapse;
}

legend {
  padding: 0;
}

input,
textarea,
select {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-background);
  font-family: inherit;
  appearance: none;
}

textarea {
  min-height: 100px;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: inherit;
  appearance: none;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @media (hover) {
    @include _transitions.transition-03(all);

    &:hover {
      cursor: pointer;
    }
  }
}
