.no-js .lazyload {
  display: none;
}

.lazyload,.lazyloading {
  opacity: 0;
}

.lazyload,
.lazyloaded,
.lazyloading {
  transition: opacity 0.3s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.lazyloaded {
  opacity: 1;
}
