{% macro pinColors(colorIndex, required, placeholder) %}
<div class="pin-colors__color pos-r">
    <label for="pin-colors-{{colorIndex}}" class="sr-only">Pin colour {{colorIndex}}</label>
    <div class="pos-r">
        <select name="colors" id="pin-colors-{{colorIndex}}" class="fs-sm lh-sm fvs-rg dp-b py-8 pr-32 pl-16 text-heading w-full" data-product-pin-colors="{{colorIndex}}" {% if required %}required{% endif %}>
            <option value="">None</option>
            <option value="#F8C3D3">Pink</option>
            <option value="#84B6F9">Light Blue</option>
            <option value="#538B65">Green</option>
            <option value="#9D89E6">Purple</option>
            <option value="#FFFFFF">White</option>
            <option value="#EDD771">Yellow</option>
            <option value="#DE3947">Red</option>
            <option value="#475A88">Blue</option>
            <option value="#ED8733">Orange</option>
            <option value="#000000">Black</option>
        </select>
        <svg class="product__select-icon pos-a pe-none" width="24" height="24" aria-hidden="true">
            <use xlink:href="/icons/sprite.svg#chevron"></use>
        </svg>
    </div>
</div>

<div class="pos-r pin-colors__text">
    <label for="map-key-{{colorIndex}}" class="sr-only">Key text {{colorIndex}}</label>
    <input type="text" name="key" class="product__input fs-sm lh-sm fvs-rg dp-b py-8 px-16 text-heading w-full" id="map-key-{{colorIndex}}" maxlength="35" {% if placeholder %}placeholder="{{placeholder}}"{% endif %} {% if required %}required{% endif %}>
</div>
{% endmacro %}
