@use '../02-tools/functions/pxToRem' as _pxToRem;

// Font Family
$font-family: 'Avenir Next', sans-serif;

// Font Size
$font-size-xs: _pxToRem.rem(12);
$font-size-sm: _pxToRem.rem(14);
$font-size-base: _pxToRem.rem(16);
$font-size-md: _pxToRem.rem(20);
$font-size-lg: _pxToRem.rem(25);
$font-size-xl: _pxToRem.rem(30);
$font-size-xxl: _pxToRem.rem(33);

// Font Weight
$font-weight-normal: 400;
$font-weight-medium: 450;
$font-weight-semibold: 500;

// Line Height
$line-height-xxs: _pxToRem.rem(21);
$line-height-xs: _pxToRem.rem(23);
$line-height-sm: _pxToRem.rem(25);
$line-height-base: _pxToRem.rem(28);
$line-height-md: _pxToRem.rem(32);
$line-height-lg: _pxToRem.rem(36);
$line-height-xl: _pxToRem.rem(48);
$line-height-xxl: _pxToRem.rem(56);
