
@mixin picture($x, $y) {
  position: relative;
  display: block;
  padding-top: unquote(($y / $x) * 100 + '%');
  background-color: var(--color-fade);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
