@use '../../01-settings/breakpoints' as _b;
@use 'sass:map';

@mixin min($name,  $breakpoints: _b.$breakpoints) {
  $min: _b.breakpoint-min($name, $breakpoints);

  @if $min {
    @media screen and (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin max($name, $breakpoints: _b.$breakpoints) {
  $max: _b.breakpoint-max($name, $breakpoints);

  @if $max {
    @media screen and (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin min-max($lower, $upper, $breakpoints: _b.$breakpoints) {
  $min: _b.breakpoint-min($lower, $breakpoints);
  $max: _b.breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}
