{% set variant = product.options[0] %}

<form class="product__form" data-product-form data-variant-id="{{variant.id}}">
    <div class="product__field">
        <label for="frame-size" class="product__label">Choose your map size</label>
        <div class="product__select-wrapper">
            <select name="size" id="frame-size" class="product__select" data-product-variants>
            {% for option in product.options %}
                <option value="{{option.value}}" data-variants="{{option.variants}}" data-id="{{option.id}}">{{option.value}}</option>
            {% endfor %}
            </select>
            <svg class="product__select-icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/icons/sprite.svg#chevron"></use>
            </svg>
        </div>
    </div>

    <div class="product__field">
        <label for="quantity" class="product__label">Quantity</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" class="product__input product__input--quantity" pattern="[0-9]*">
    </div>

    <button type="submit" class="product__basket-button">Add to basket</button>
</form>
