{% import '_macros/pin-colors.njk' as pinMapColors %}

{% if 'Kids' in product.tags %}
    {% set titleHolder = 'E.g. Jack\'s Adventures' %}
    {% set pinHolder = 'E.g. Jack\'s Travels' %}
{% else %}
    {% set titleHolder = 'E.g. Mark & Emma\'s world travels' %}
    {% set pinHolder = 'E.g. Alex\'s Travels' %}
{% endif %}

<form class="mt-24" data-product-form>
    <div class="pos-r mb-32">
        <label for="map-size" class="fs-sm lh-sm fvs-md dp-ib mb-8 text-tertiary">Choose your map size</label>
        <div class="pos-r">
            <select name="size" id="map-size" class="product__select fs-sm lh-sm fvs-rg dp-b py-8 pr-32 pl-16 text-heading w-full" data-product-variants>
            {% for option in product.options %}
                <option value="{{option.value}}" data-name="{{option.name}}" data-id="{{option.id}}" data-price="{{option.price}}">{{option.value}}</option>
            {% endfor %}
            </select>
            <svg class="product__select-icon pos-a pe-none" width="24" height="24" aria-hidden="true">
                <use xlink:href="/icons/sprite.svg#chevron"></use>
            </svg>
        </div>
    </div>

    <div class="p-24 bgc-neutral borr-4">
        <h2 class="product__personalisation-title pos-r fs-md lh-md fvs-md my-0 pb-24 text-tertiary tt-uc">Personalisation</h2>
        <p class="fs-sm lh-sm fvs-rg mt-16 mb-24">Preview your personalised map key before you buy.</p>

        <div class="pos-r mb-32">
            <label for="map-title" class="fs-sm lh-sm fvs-md dp-ib mb-8 text-tertiary">Give your map a title</label>
            <input type="text" name="title" class="product__input fs-sm lh-sm fvs-rg dp-b py-8 px-16 text-heading w-full" minlength="3" maxlength="36" placeholder="{{titleHolder}}" id="map-title" data-product-map-title required>
        </div>

        <p class="s-sm lh-sm fvs-md dp-ib mb-8 text-tertiary">Key text</p>

        <div class="mb-32">
            <label class="dp-inf ai-c mr-16" for="map-key-no">
                <input class="product__radio-input pos-r dp-f fd-c jc-center ai-c mr-8" type="radio" id="map-key-no" name="show key text" value="no" data-map-key>
                No
            </label>

            <label class="dp-inf ai-c" for="map-key-yes">
                <input class="product__radio-input pos-r dp-f fd-c jc-center ai-c mr-8" type="radio" id="map-key-yes" name="show key text" value="yes" checked data-map-key>
                Yes
            </label>
        </div>

        <p class="fs-sm lh-sm fvs-md dp-ib mb-8 text-tertiary">Select your pin colours</p>

        <div class="pin-colors pin-colors--key-text dp-g gg-16 mb-32" data-pin-colors>
            {{pinMapColors.pinColors('1', true, pinHolder )}}
            {{pinMapColors.pinColors('2')}}
            {{pinMapColors.pinColors('3')}}
            {{pinMapColors.pinColors('4')}}
            {{pinMapColors.pinColors('5')}}
            {{pinMapColors.pinColors('6')}}
        </div>

        <button type="submit" class="bgc-secondary text-foreground fs-xs lh-xs fvs-md py-16 px-24 borr-5 tt-uc ls-1 ol-3-solid-transparent focus:olc-primary hover:bgc-secondary" data-product-submit>Preview &amp; Add To Basket</button>
    </div>
</form>
