{% set variant = product.options[0] %}

<form class="mt-24" data-product-form="data-product-form" data-variant-id="{{variant.id}}">
    <div class="pos-r mb-32">
        <label for="pin-colour" class="fs-sm lh-sm fvs-md dp-ib mb-8 text-tertiary">Pins</label>
        <div class="pos-r">
            <select name="pins" id="pin-colour" class="product__select fs-sm lh-sm fvs-rg dp-b py-8 pr-32 pl-16 text-heading w-full" required="required" data-product-variants="data-product-variants">
                {% for option in product.options %}
                    <option value="{{option.value}}" data-name="{{option.name}}" data-id="{{option.id}}" data-price="{{option.price}}">{{option.value}}</option>
                {% endfor %}
            </select>
            <svg class="product__select-icon pos-a pe-none" width="24" height="24" aria-hidden="true">
                <use xlink:href="/icons/sprite.svg#chevron"></use>
            </svg>
        </div>
    </div>

    <div class="pos-r mb-32">
        <label for="quantity" class="fs-sm lh-sm fvs-md dp-ib mb-8 text-tertiary">Quantity</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" class="product__input fs-sm lh-sm fvs-rg dp-b py-8 px-16 text-heading w-1/4" pattern="[0-9]*">
    </div>

    <button type="submit" class="bgc-secondary text-foreground fs-xs lh-xs fvs-md py-16 px-24 borr-5 tt-uc ls-1 focus:olc-primary">Add to basket</button>
</form>
