---
title: 'About us'
description: 'Find out more about the people behind Luna Creates.'
changefreq: monthly
priority: 1
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 1
---

<main id="main">
    <div class="page page--container">
        <h1 class="page__title">{{about.title}}</h1>

        <div class="page__rte">
            {{about.body | safe}}
        </div>
    </div>
</main>
