---
title: 'Blog'
description: 'Blog description'
heroTitle: 'Our Blog'
heroImage: 'https://cdn.shopify.com/s/files/1/1931/6299/files/homepage'
layout: _layouts/blog
eleventyExcludeFromCollections: true
---

{% set postListItems = collections.postFeed %}

<ol class="dp-g gtc-2 gg-24 md:gtc-3 md:gg-32" reversed>
{% for item in postListItems %}
    {% set title = item.data.title %}
    {% set date = item.data.publish_date or item.date.date %}
    {% set thumbnail = item.data.thumbnail %}
    {% set thumbnailWebP = thumbnail.split(r/(jpg|png)/g)[0] + 'webp' %}

    <li>
        <article class="dp-f fd-c">
            <h2 class="fs-sm lh-sm my-8 order-2 md:mt-16">
                <a class="fs-sm lh-sm fvs-md text-body" href="{{item.url}}">{{title}}</a>
            </h2>

            <time class="fs-xs lh-xs fvs-sb text-body order-3" datetime="{{date}}">{{date | readableDate }}</time>

            <picture class="ratio-1-1 order-1">
                <source type="image/webp" data-srcset="{{thumbnailWebP}}?nf_resize=fit&w=300&h=300 1x, {{thumbnailWebP}}?nf_resize=fit&w=350&h=350 2x">

                <img data-srcset="{{thumbnail}}?nf_resize=fit&w=300&h=300 1x, {{thumbnail}}?nf_resize=fit&w=350&h=350 2x" alt="" class="lazyload" loading="lazy" width="300" height="300">

                <noscript>
                    <source type="image/webp" srcset="{{thumbnail}}?nf_resize=fit&w=300&h=300.webp 1x, {{thumbnail}}?nf_resize=fit&w=350&h=350.webp 2x">

                    <img srcset="{{thumbnail}}?nf_resize=fit&w=300&h=300 1x, {{thumbnail}}?nf_resize=fit&w=350&h=350 2x" alt="" loading="lazy" width="300" height="300">
                </noscript>
            </picture>
        </article>
    </li>
{% endfor %}
</ol>
