---
title: 'Blog'
description: 'Blog description'
heroTitle: 'Our Blog'
heroImage: 'https://cdn.shopify.com/s/files/1/1931/6299/files/homepage'
layout: _layouts/blog
eleventyExcludeFromCollections: true
---

{% set postListItems = collections.postFeed %}

<ol class="instagram-collection__images" reversed>
{% for item in postListItems %}
    <li class="instagram-collection__item">
        <article>
            <h2>
                <a href="{{ item.url }}">{{ item.data.title }}</a>
            </h2>
        </article>
    </li>
{% endfor %}
</ol>
