---
title: 'Delivery'
description: 'Find out more about everything you need to know about delivery.'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 0.8
---

{% set heroTitle = 'Delivery' %}
{% set heroImage = 'https://cdn.shopify.com/s/files/1/1931/6299/files/Image_4.png' %}

{% include "_partials/components/hero.njk" %}

<main class="container my-32 px-16 md:my-56 lg:my-80" id="main">
    <div class="rte maxw-post mx-auto">
        {{delivery.body | safe}}
    </div>
</main>
