---
title: 'Delivery'
description: 'Find out more about everything you need to know about delivery.'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 0.8
---

<main class="my-32 md:my-56 lg:my-80" id="main">
    <div class="container px-16">
        <h1 class="fs-xl lh-xl fvs-md ta-center text-heading mt-0 mb-32 md:mb-72">{{delivery.title}}</h1>

        <div class="page__rte">
            {{delivery.body | safe}}
        </div>
    </div>
</main>
