---
title: 'Frequently asked questions'
heroTitle: 'Frequently asked questions'
heroImage: 'https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner'
layout: _layouts/default
sitemap:
  changefreq: monthly
  priority: 0.8
---

{% include "_partials/hero.njk" %}

<main id="main">
    <section class="faqs">
       <div class="faqs__container">
            <h2 class="faqs__title">Personalising your World Travel Pin Map</h2>

            <ol class="accordion" data-component="faqs">
                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="map-title">Can I have just a title on my map?</h3>

                    <div class="accordion__panel" id="map-title" data-accordion-panel>
                        <p class="accordion__body">Yes we have an option on the product page to just select a title no key on your map.</p>
                    </div>
                </li>

                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="additional-pins">Can I buy additional pins for my map?</h3>

                    <div class="accordion__panel" id="additional-pins" data-accordion-panel>
                        <p class="accordion__body">Yes if you need additional pins you can purchase them on <a href="/products/additional-pins/" class="accordion__link">our website</a>.</p>
                    </div>
                </li>

                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="map-no-frame">If I buy a map without a frame will the edges be smooth?</h3>

                    <div class="accordion__panel" id="map-no-frame" data-accordion-panel>
                        <p class="accordion__body">Our printers make sure the high quality foam board has perfect edges so that it can be displayed without a frame.</p>
                    </div>
                </li>

                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="map-logo">Can I add a company brand logo to my map?</h3>

                    <div class="accordion__panel" id="map-logo" data-accordion-panel>
                        <p class="accordion__body">Yes we would require a vector file or large png file. Email the logo to: <a href="mailto:hello@lunacreates.co.uk" class="accordion__link">hello@lunacreates.co.uk</a></p>
                    </div>
                </li>

                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="map-customisation">Do you offer further customisation options?</h3>

                    <div class="accordion__panel" id="map-customisation" data-accordion-panel>
                        <p class="accordion__body">Yes we do, email us at <a href="mailto:hello@lunacreates.co.uk" class="accordion__link">hello@lunacreates.co.uk</a> to discuss your requirements further.</p>
                    </div>
                </li>
            </ol>

            <h2 class="faqs__title">Delivery</h2>

            <ol class="accordion" data-component="faqs">
                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="delivery-duration">How long does delivery take?</h3>

                    <div class="accordion__panel" id="delivery-duration" data-accordion-panel>
                        <p class="accordion__body">We aim to send all orders to UK mainland destinations 10-15 business days after order date. We will notify you by email if there is any change to this.</p>
                    </div>
                </li>

                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="track-order">Can I track my order?</h3>

                    <div class="accordion__panel" id="track-order" data-accordion-panel>
                        <p class="accordion__body">For all deliveries we use a 3rd party courier service (DPD) to be as fast and cost effective as possible, and all of our deliveries are insured. You will be contacted by the courier, who will let you know when your order will arrive and ask if you have any special delivery requirements.</p>
                    </div>
                </li>
            </ol>

            <h2 class="faqs__title">Installation</h2>

            <ol class="accordion" data-component="faqs">
                <li class="accordion__item">
                    <h3 class="accordion__title" data-accordion-heading="map-hang">How do I hang my World Travel Pin Map?</h3>

                    <div class="accordion__panel" id="map-hang" data-accordion-panel>
                        <p class="accordion__body">Each map comes with a keyhole loop mounted on the back of the frame.</p>
                    </div>
                </li>
            </ol>
       </div>
    </section>
</main>
