---
title: 'Privacy policy'
description: 'Find out more about what information we collect when visitors come to our website.'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 0.8
---

<main id="main">
    <div class="page page--container">
        <div class="page__rte">
            {{privacy.body | safe}}
        </div>
    </div>
</main>
