---
pagination:
    data: products
    size: 1
    alias: product
renderData:
  title: "{{product.title}}"
permalink: "products/{{product.slug}}/"
changefreq: weekly
priority: 1
layout: _layouts/default
---

<section class="product product--container" aria-describedby="product-title" data-component="product-details" data-product-id="{{product.id}}" data-product-color={{product.color}}>
    <div class="product__imagery">
        <picture class="product__picture" data-component="product-picture">
            <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="{{product.mainImage}}_350x350.jpg.webp 1x, {{product.mainImage}}_450x450.jpg.webp 2x">
            <source media="(max-width: 37.4375em)" data-srcset="{{product.mainImage}}_300x300.jpg.webp 1x, {{product.mainImage}}_450x450.jpg.webp 2x">
            <source type="image/webp" data-srcset="{{product.mainImage}}_600x600.jpg.webp 1x, {{product.mainImage}}_800x800.jpg.webp 2x">
            <img data-srcset="{{product.mainImage}}_600x600.jpg 1x, {{product.mainImage}}_800x800.jpg 2x" alt="{{product.mainImageAlt}}" class="product__image lazyload" loading="lazy" width="300" height="300">

            <noscript>
                <source media="(max-width: 37.4375em)" type="image/webp" srcset="{{product.mainImage}}_350x350.jpg.webp 1x, {{product.mainImage}}_450x450.jpg.webp 2x">
                <source media="(max-width: 37.4375em)" srcset="{{product.mainImage}}_300x300.jpg.webp 1x, {{product.mainImage}}_450x450.jpg.webp 2x">
                <source type="image/webp" srcset="{{product.mainImage}}_600x600.jpg.webp 1x, {{product.mainImage}}_800x800.jpg.webp 2x">
                <img srcset="{{product.mainImage}}_600x600.jpg 1x, {{product.mainImage}}_800x800.jpg 2x" alt="{{product.mainImageAlt}}" class="product__image" loading="lazy" width="300" height="300">
            </noscript>
        </picture>

        {% include "_partials/product-thumbnails.njk" %}

        {% if product.description %}
        <div class="product__description">
            <h2 class="product__sub-title">Product Info</h2>
            {{product.description | safe }}
        </div>
        {% endif %}
    </div>

    <div class="product__details">
        <h1 class="product__title" id="product-title">{{product.title}}</h1>
        <span class="product__price" aria-live="polite" data-product-price>{{product.price}}</span>

        {% include "_partials/product-form.njk" %}
    </div>

    {% if product.description %}
    <div class="product__description product__description--mobile">
        <h2 class="product__sub-title">Product Info</h2>
        {{product.description | safe }}
    </div>
    {% endif %}

    {% include "_partials/modal.njk" %}
</section>

