---
pagination:
    data: products
    size: 1
    alias: product
renderData:
  title: "{{product.title}}"
permalink: "/{{product.slug}}/"
changefreq: weekly
priority: 1
layout: _layouts/default
---

<main class="product product--container" aria-describedby="product-title" data-component="product-details" data-product-id="{{product.id}}" data-product-color="{{product.color}}">
    <div class="product__imagery">
        <picture class="product__picture" data-component="product-picture">
            <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="{{product.mainImage}}_350x350.jpg.webp 1x, {{product.mainImage}}_450x450.jpg.webp 2x">
            <source media="(max-width: 37.4375em)" data-srcset="{{product.mainImage}}_300x300.jpg 1x, {{product.mainImage}}_450x450.jpg 2x">
            <source type="image/webp" data-srcset="{{product.mainImage}}_600x600.jpg.webp 1x, {{product.mainImage}}_800x800.jpg.webp 2x">
            <img data-srcset="{{product.mainImage}}_600x600.jpg 1x, {{product.mainImage}}_800x800.jpg 2x" alt="{{product.mainImageAlt}}" class="product__image lazyload" loading="lazy" width="300" height="300">

            <noscript>
                <source media="(max-width: 37.4375em)" type="image/webp" srcset="{{product.mainImage}}_350x350.jpg.webp 1x, {{product.mainImage}}_450x450.jpg.webp 2x">
                <source media="(max-width: 37.4375em)" srcset="{{product.mainImage}}_300x300.jpg 1x, {{product.mainImage}}_450x450.jpg 2x">
                <source type="image/webp" srcset="{{product.mainImage}}_600x600.jpg.webp 1x, {{product.mainImage}}_800x800.jpg.webp 2x">
                <img srcset="{{product.mainImage}}_600x600.jpg 1x, {{product.mainImage}}_800x800.jpg 2x" alt="{{product.mainImageAlt}}" class="product__image" loading="lazy" width="300" height="300">
            </noscript>
        </picture>

        {% include "_partials/product-thumbnails.njk" %}

        {% if product.description %}
        <div class="product__description">
            <h2 class="product__sub-title">Product Info</h2>
            {{product.description | safe }}
        </div>
        {% endif %}
    </div>

    <div class="product__details">
        <h1 class="product__title" id="product-title">{{product.title}}</h1>
        <span class="product__price" aria-live="polite" data-product-price>{{product.price}}</span>

        {% for tag in product.tags %}
            {% if tag === 'Map Only' %}
                {% include "_partials/personalised-form.njk" %}
            {% endif %}

            {% if tag === 'Wedding Table Plan' %}
                {% include "_partials/wedding-table-form.njk" %}
            {% endif %}

            {% if tag === 'Wedding Table Name' %}
                {% include "_partials/wedding-table-name-form.njk" %}
            {% endif %}

            {% if tag === 'Wedding Welcome' %}
                {% include "_partials/wedding-welcome-form.njk" %}
            {% endif %}

            {% if tag === 'Wedding Gift' %}
                {% include "_partials/wedding-gift-form.njk" %}
            {% endif %}

            {% if tag === 'Babymap' %}
                {% include "_partials/baby-map-form.njk" %}
            {% endif %}

            {% if tag === 'Newhome' %}
                {% include "_partials/new-home-form.njk" %}
            {% endif %}

            {% if tag === 'Pins' %}
                {% include "_partials/pins-form.njk" %}
            {% endif %}

            {% if tag === 'Frame only' %}
                {% include "_partials/frame-only-form.njk" %}
            {% endif %}
        {% endfor %}
    </div>

    {% if product.description %}
    <div class="product__description product__description--mobile">
        <h2 class="product__sub-title">Product Info</h2>
        {{product.description | safe }}
    </div>
    {% endif %}


    {% include "_partials/modal.njk" %}
</main>

{% include "_partials/quotes.njk" %}

