---
title: 'Returns'
description: 'Find out more about the Luna Creates return policy'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 0.8
---

<main id="main">
    <div class="page page--container">
        <h1 class="page__title">{{returns.title}}</h1>

        <div class="page__rte">
            {{returns.body | safe}}
        </div>
    </div>
</main>
