---
title: 'sw'
permalink: sw.js
eleventyExcludeFromCollections: true
---

const cacheName = 'lunacreates:0005'; const cacheFiles = [ '/',
{% swStyles %},
{% for product in products %}
    '{{product.slug}}/'{% if not loop.last %},{% endif %}
{% endfor %}
];

self.addEventListener('install', event => {
  event.waitUntil(caches.open(cacheName)
    .then(cache => cache.addAll(cacheFiles))
  );
});

// Adding `fetch` event listener
self.addEventListener('fetch', event => {
  event.respondWith(caches.match(event.request)
    .then(response => {
      // Grab the asset from SW cache.
      if (response) {
        return response;
      }

      return fetch(event.request);
    })
    .catch(() => caches.match('/offline/'))
  );
});

// Empty out any caches that don’t match the ones listed.
self.addEventListener('activate', event => {
  const cacheWhitelist = [cacheName];

  event.waitUntil(caches.keys()
    .then(cacheNames => {
      return Promise.all(cacheNames.map(cacheName => {
        if (cacheWhitelist.indexOf(cacheName) === -1) {
          return caches.delete(cacheName);
        }
      }));
    })
  );
});
